asgiref==3.7.2
asttokens==2.2.1
backcall
colorama
decorator
Django
executing
Faker
ipython
jedi
matplotlib-inline
parso
pickleshare
Pillow
prompt-toolkit
pure-eval
Pygments
python-dateutil
six
sqlparse
stack-data
traitlets
tzdata
wcwidth
